.google {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: var(--p-vertical) 1.4rem;
  position: relative;
}

.google__input {
  background-color: var(--light-color);
  padding: var(--p-vertical) var(--p-2);
  color: var(--secondary-color);
  border-radius: 30px;
  padding-inline: 2rem;
  letter-spacing: 1px;
  border: none;
  outline: none;
}

.google__input::placeholder {
  font-size: var(--font-size-md);
  font-family: var(--vazirmatn);
}

.google__logo,
.google__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.google__logo {
  right: 1.8rem;
  width: 1.5rem;
}

.google__icon {
  background-color: var(--dark-blue-color);
  font-size: var(--font-size-lg);
  color: var(--primary-color);
  border-radius: 30px;
  padding: 6px 15px;
  left: 2rem;
}
