body {
  background-color: #c4def7;
  padding: 3px 20px;
}
.container {
  max-width: 1124px;
  margin-inline: var(--m-inline);
  grid-template-columns: 1fr;
}

.main {
  grid-template-columns: 1fr;
}
.time-weather {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: var(--p-2);
  height: 272px;
  align-items: start;
  position: relative;
}

.time-weather::before {
  content: "";
  display: block;
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-color);
}
.time-weather::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 49%;
  width: 1px;
  height: 60%;
  background-color: var(--light-color);
}
