.time {
  width: 50%;
}
.time__digital {
  display: inline-block;
  font-size: 1.5rem;
  color: #2a6ff7;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.time__solar {
  font-size: var(--font-size-md);
  font-weight: bold;
}
.time__dates {
  text-align: center;
  color: #333;
}
.time__gregorian {
  text-align: center;
  font-size: 0.5rem;
  direction: ltr;
}
.time__lunar {
  text-align: center;
  font-size: 0.5rem;
}
.time__alternative {
  white-space: nowrap;
}
.time__select {
  font-size: var(--font-size-sm);
  font-family: var(--vazirmatn);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  font-weight: lighter;
  cursor: pointer;
  color: #777;
}
