.websites {
  grid-template-columns: 1fr 1fr;
}

.websites__item {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  height: 88px;
  cursor: pointer;
}
.websites__dasti {
  font-size: var(--font-size-md);
}

.websites__img {
  width: 30px;
  height: 30px;
}

.websites__item span {
  font-size: var(--font-size-md);
  color: #333;
}

.websites__plusIcon {
  font-size: 1.5rem;
  color: var(--secondary-color);
}
.websites__item--color i {
  color: var(--dark-blue-color);
  font-size: 1.5rem;
}
